<div class="col-md-7" style="min-height:700px;">
    <div class="row">
        <div class="col-md-12 single-post">
            <div class="col-md-12 post-head">
                <div class="col-md-12 post-title m-b-10">
                    <a [routerLink]="['/post', post.title]">{{ post.title }}</a>
                </div>
                <div class="col-md-12 post-author">
                    <a href='#'>{{ post.date | date }}</a>
                </div>
            </div>

            <div class="col-md-12 post-body m-t-15">
                {{ post.body }}
            </div>
        </div>
    </div>
</div>