<div class="col-md-8">
    <h4>ახალი პოსტი:</h4>
    <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
        <div class="form-group">
            <label for="title">სათაური</label>
            <input type="text" class="form-control" name="title" [(ngModel)]="model.title" #title="ngModel" />
        </div>
        <div class="form-group">
            <label for="body">ტექსტი</label>
            <div name="body" class="crt-pst-wysiwyg" [froalaEditor] #body="ngModel" [(ngModel)]="model.body"></div>
        </div>
        <div class="form-group">
            <a (click)="save()" class="btn btn-primary">შენახვა</a>
        </div>
    </form>
</div>