<div class="col-md-7">
  <ul *ngIf='posts && posts.length > 0' class="posts">
    <li *ngFor='let post of posts'>
      <div class="row">
        <div class="col-md-12 single-post">
          <div class="col-md-12 post-head">
            <div class="col-md-12 post-title m-b-10">
              <a [routerLink]="['/post', post._id]">{{ post.title }}</a>
            </div>
            <div class="col-md-12 post-author">
              <a href='#'>{{ post.date | date }}</a>
            </div>
          </div>
          <div class="col-md-12 post-body m-t-15" [innerHtml]="post.body">
            <!-- post body is bound to innerHtml property -->
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>